html {
    padding: 0;
    margin: 0;
}

body {
    font-family: arial;
    background: #000;
    color: rgb(244, 244, 244);
    font-family: IBM Plex Sans VF, Helvetica Neue, Arial, sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

header {
    background-color: #161616;
    border-bottom: 1px solid #393939;
    color: #fff;
    font-size: 16pt;
    font-weight: 400;
    align-items: center;
    border-top: 1px solid transparent;
    color: #fff;
    display: flex;
    height: 3rem;
    left: 3rem;
    padding: 0 1rem;
    text-decoration: none;
}

header>a {
    text-decoration: none;
    color: #fff;
}

main {
    background-color: #161616;
    padding-bottom: 10px;
    border-bottom: 1px solid #393939;
    text-align: left;
}

.details {
    font-weight: bold;
}

td,
th {
    padding: 5px 10px;
}

th {
    color: #fff;
    font-size: 1.75rem;
}

td {
    color: #fff;
    font-size: 1rem;
}

table {
    border-collapse: collapse;
    min-width: 50%;
    background: #262626;
}

caption {
    padding: 10px;
    caption-side: bottom;
    font-size: 75%;
}

#banner {
    max-width: 100%;
    overflow: hidden;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgMzg0MCAxMjcyIj4KICA8ZGVmcz4KICAgIDxzdHlsZT4KICAgICAgLmNscy0xIHsKICAgICAgICBmaWxsOiB1cmwoI2xpbmVhci1ncmFkaWVudCk7CiAgICAgIH0KCiAgICAgIC5jbHMtMSwgLmNscy0yLCAuY2xzLTMsIC5jbHMtNCwgLmNscy01LCAuY2xzLTYsIC5jbHMtNywgLmNscy04IHsKICAgICAgICBvcGFjaXR5OiAuNTsKICAgICAgfQoKICAgICAgLmNscy05IHsKICAgICAgICBmaWxsOiAjMDA0M2NlOwogICAgICB9CgogICAgICAuY2xzLTEwIHsKICAgICAgICBmaWxsOiAjMDAxZDZjOwogICAgICB9CgogICAgICAuY2xzLTExLCAuY2xzLTggewogICAgICAgIGZpbGw6ICNmZmY7CiAgICAgIH0KCiAgICAgIC5jbHMtMTIgewogICAgICAgIGZpbGw6ICMzZGRiZDk7CiAgICAgIH0KCiAgICAgIC5jbHMtMTMgewogICAgICAgIGZpbGw6ICM3OGE5ZmY7CiAgICAgIH0KCiAgICAgIC5jbHMtMTQgewogICAgICAgIGZpbGw6IHVybCgjbGluZWFyLWdyYWRpZW50LTgpOwogICAgICB9CgogICAgICAuY2xzLTE1IHsKICAgICAgICBmaWxsOiB1cmwoI2xpbmVhci1ncmFkaWVudC05KTsKICAgICAgfQoKICAgICAgLmNscy0xNiB7CiAgICAgICAgZmlsbDogdXJsKCNsaW5lYXItZ3JhZGllbnQtMTQpOwogICAgICB9CgogICAgICAuY2xzLTE3IHsKICAgICAgICBmaWxsOiB1cmwoI2xpbmVhci1ncmFkaWVudC0xMyk7CiAgICAgIH0KCiAgICAgIC5jbHMtMTggewogICAgICAgIGZpbGw6IHVybCgjbGluZWFyLWdyYWRpZW50LTEyKTsKICAgICAgfQoKICAgICAgLmNscy0xOSB7CiAgICAgICAgZmlsbDogdXJsKCNsaW5lYXItZ3JhZGllbnQtMTApOwogICAgICB9CgogICAgICAuY2xzLTIwIHsKICAgICAgICBmaWxsOiB1cmwoI2xpbmVhci1ncmFkaWVudC0xMSk7CiAgICAgIH0KCiAgICAgIC5jbHMtMiB7CiAgICAgICAgZmlsbDogdXJsKCNsaW5lYXItZ3JhZGllbnQtNCk7CiAgICAgIH0KCiAgICAgIC5jbHMtMyB7CiAgICAgICAgZmlsbDogdXJsKCNsaW5lYXItZ3JhZGllbnQtMik7CiAgICAgIH0KCiAgICAgIC5jbHMtNCB7CiAgICAgICAgZmlsbDogdXJsKCNsaW5lYXItZ3JhZGllbnQtMyk7CiAgICAgIH0KCiAgICAgIC5jbHMtNSB7CiAgICAgICAgZmlsbDogdXJsKCNsaW5lYXItZ3JhZGllbnQtNSk7CiAgICAgIH0KCiAgICAgIC5jbHMtNiB7CiAgICAgICAgZmlsbDogdXJsKCNsaW5lYXItZ3JhZGllbnQtNik7CiAgICAgIH0KCiAgICAgIC5jbHMtNyB7CiAgICAgICAgZmlsbDogdXJsKCNsaW5lYXItZ3JhZGllbnQtNyk7CiAgICAgIH0KICAgIDwvc3R5bGU+CiAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImxpbmVhci1ncmFkaWVudCIgeDE9IjAiIHkxPSI2NTIiIHgyPSIzNTY4IiB5Mj0iNjUyIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+CiAgICAgIDxzdG9wIG9mZnNldD0iMCIgc3RvcC1jb2xvcj0iIzQ1ODlmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICAgIDxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iIzQ1ODlmZiIgc3RvcC1vcGFjaXR5PSIuNSIvPgogICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDxsaW5lYXJHcmFkaWVudCBpZD0ibGluZWFyLWdyYWRpZW50LTIiIHkxPSIyNDQiIHgyPSIyNzM2IiB5Mj0iMjQ0IiB4bGluazpocmVmPSIjbGluZWFyLWdyYWRpZW50Ii8+CiAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImxpbmVhci1ncmFkaWVudC0zIiB5MT0iMTA2MCIgeDI9IjI3MzYiIHkyPSIxMDYwIiB4bGluazpocmVmPSIjbGluZWFyLWdyYWRpZW50Ii8+CiAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImxpbmVhci1ncmFkaWVudC00IiB5MT0iMzgwIiB4Mj0iMzA0MCIgeTI9IjM4MCIgeGxpbms6aHJlZj0iI2xpbmVhci1ncmFkaWVudCIvPgogICAgPGxpbmVhckdyYWRpZW50IGlkPSJsaW5lYXItZ3JhZGllbnQtNSIgeTE9IjUxNiIgeDI9IjI4NTYiIHkyPSI1MTYiIHhsaW5rOmhyZWY9IiNsaW5lYXItZ3JhZGllbnQiLz4KICAgIDxsaW5lYXJHcmFkaWVudCBpZD0ibGluZWFyLWdyYWRpZW50LTYiIHkxPSI3ODgiIHgyPSIzMTYwIiB5Mj0iNzg4IiB4bGluazpocmVmPSIjbGluZWFyLWdyYWRpZW50Ii8+CiAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImxpbmVhci1ncmFkaWVudC03IiB5MT0iOTI0IiB4Mj0iMjg1NiIgeTI9IjkyNCIgeGxpbms6aHJlZj0iI2xpbmVhci1ncmFkaWVudCIvPgogICAgPGxpbmVhckdyYWRpZW50IGlkPSJsaW5lYXItZ3JhZGllbnQtOCIgeDE9IjAiIHkxPSI2NTIiIHgyPSIyNTc2IiB5Mj0iNjUyIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+CiAgICAgIDxzdG9wIG9mZnNldD0iMCIgc3RvcC1jb2xvcj0iIzBmNjJmZSIgc3RvcC1vcGFjaXR5PSIuMSIvPgogICAgICA8c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiMwZjYyZmUiLz4KICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImxpbmVhci1ncmFkaWVudC05IiB4MT0iMCIgeTE9IjI0NCIgeDI9IjY4MCIgeTI9IjI0NCIgeGxpbms6aHJlZj0iI2xpbmVhci1ncmFkaWVudC04Ii8+CiAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImxpbmVhci1ncmFkaWVudC0xMCIgeDE9IjAiIHkxPSIzODAiIHgyPSIxMjk2IiB5Mj0iMzgwIiB4bGluazpocmVmPSIjbGluZWFyLWdyYWRpZW50LTgiLz4KICAgIDxsaW5lYXJHcmFkaWVudCBpZD0ibGluZWFyLWdyYWRpZW50LTExIiB4MT0iMCIgeTE9IjkyNCIgeDI9IjEyOTYiIHkyPSI5MjQiIHhsaW5rOmhyZWY9IiNsaW5lYXItZ3JhZGllbnQtOCIvPgogICAgPGxpbmVhckdyYWRpZW50IGlkPSJsaW5lYXItZ3JhZGllbnQtMTIiIHgxPSIwIiB5MT0iNTE2IiB4Mj0iMTkwNCIgeTI9IjUxNiIgeGxpbms6aHJlZj0iI2xpbmVhci1ncmFkaWVudC04Ii8+CiAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImxpbmVhci1ncmFkaWVudC0xMyIgeDE9IjAiIHkxPSI3ODgiIHgyPSIxOTA0IiB5Mj0iNzg4IiB4bGluazpocmVmPSIjbGluZWFyLWdyYWRpZW50LTgiLz4KICAgIDxsaW5lYXJHcmFkaWVudCBpZD0ibGluZWFyLWdyYWRpZW50LTE0IiB4MT0iMCIgeTE9IjEwNjAiIHgyPSI2ODAiIHkyPSIxMDYwIiB4bGluazpocmVmPSIjbGluZWFyLWdyYWRpZW50LTgiLz4KICA8L2RlZnM+CiAgPGcgaWQ9IkJhY2tncm91bmQiPgogICAgPHBvbHlnb24gY2xhc3M9ImNscy05IiBwb2ludHM9Ii04IC04IC04IDEyODAgMzg0OCAxMjgwIDM4NDcuOTEgLTggLTggLTgiLz4KICA8L2c+CiAgPGcgaWQ9IldoaXRlX2xpbmVzIiBkYXRhLW5hbWU9IldoaXRlIGxpbmVzIj4KICAgIDxyZWN0IGNsYXNzPSJjbHMtMSIgeT0iNjMyIiB3aWR0aD0iMzU2OCIgaGVpZ2h0PSI0MCIvPgogICAgPHJlY3QgY2xhc3M9ImNscy0zIiB5PSIyMjQiIHdpZHRoPSIyNzM2IiBoZWlnaHQ9IjQwIi8+CiAgICA8cmVjdCBjbGFzcz0iY2xzLTQiIHk9IjEwNDAiIHdpZHRoPSIyNzM2IiBoZWlnaHQ9IjQwIi8+CiAgICA8cmVjdCBjbGFzcz0iY2xzLTIiIHk9IjM2MCIgd2lkdGg9IjMwNDAiIGhlaWdodD0iNDAiLz4KICAgIDxyZWN0IGNsYXNzPSJjbHMtNSIgeT0iNDk2IiB3aWR0aD0iMjg1NiIgaGVpZ2h0PSI0MCIvPgogICAgPHJlY3QgY2xhc3M9ImNscy02IiB5PSI3NjgiIHdpZHRoPSIzMTYwIiBoZWlnaHQ9IjQwIi8+CiAgICA8cmVjdCBjbGFzcz0iY2xzLTciIHk9IjkwNCIgd2lkdGg9IjI4NTYiIGhlaWdodD0iNDAiLz4KICA8L2c+CiAgPGcgaWQ9Ik1haW5faWxsdXN0cmF0aW9uIiBkYXRhLW5hbWU9Ik1haW4gaWxsdXN0cmF0aW9uIj4KICAgIDxyZWN0IGNsYXNzPSJjbHMtMTQiIHg9IjAiIHk9IjYzMiIgd2lkdGg9IjI1NzYiIGhlaWdodD0iNDAiIHJ4PSIyMCIgcnk9IjIwIi8+CiAgICA8cmVjdCBjbGFzcz0iY2xzLTE1IiB4PSIwIiB5PSIyMjQiIHdpZHRoPSI2ODAiIGhlaWdodD0iNDAiIHJ4PSIyMCIgcnk9IjIwIi8+CiAgICA8cmVjdCBjbGFzcz0iY2xzLTE5IiB4PSIwIiB5PSIzNjAiIHdpZHRoPSIxMjk2IiBoZWlnaHQ9IjQwIiByeD0iMjAiIHJ5PSIyMCIvPgogICAgPHJlY3QgY2xhc3M9ImNscy0yMCIgeD0iMCIgeT0iOTA0IiB3aWR0aD0iMTI5NiIgaGVpZ2h0PSI0MCIgcng9IjIwIiByeT0iMjAiLz4KICAgIDxyZWN0IGNsYXNzPSJjbHMtMTgiIHg9IjAiIHk9IjQ5NiIgd2lkdGg9IjE5MDQiIGhlaWdodD0iNDAiIHJ4PSIyMCIgcnk9IjIwIi8+CiAgICA8cmVjdCBjbGFzcz0iY2xzLTE3IiB4PSIwIiB5PSI3NjgiIHdpZHRoPSIxOTA0IiBoZWlnaHQ9IjQwIiByeD0iMjAiIHJ5PSIyMCIvPgogICAgPHJlY3QgY2xhc3M9ImNscy0xNiIgeD0iMCIgeT0iMTA0MCIgd2lkdGg9IjY4MCIgaGVpZ2h0PSI0MCIgcng9IjIwIiByeT0iMjAiLz4KICAgIDxyZWN0IGNsYXNzPSJjbHMtMTEiIHg9IjI2ODAiIHk9IjM2MCIgd2lkdGg9IjI0MCIgaGVpZ2h0PSI0MCIgcng9IjIwIiByeT0iMjAiLz4KICAgIDxyZWN0IGNsYXNzPSJjbHMtMTAiIHg9IjI4MDAiIHk9IjQ5NiIgd2lkdGg9IjI0MCIgaGVpZ2h0PSI0MCIgcng9IjIwIiByeT0iMjAiLz4KICAgIDxyZWN0IGNsYXNzPSJjbHMtMTMiIHg9IjI4MDAiIHk9Ijc2OCIgd2lkdGg9IjI0MCIgaGVpZ2h0PSI0MCIgcng9IjIwIiByeT0iMjAiLz4KICAgIDxyZWN0IGNsYXNzPSJjbHMtMTAiIHg9IjI4MDAiIHk9IjkwNCIgd2lkdGg9IjI0MCIgaGVpZ2h0PSI0MCIgcng9IjIwIiByeT0iMjAiLz4KICAgIDxyZWN0IGNsYXNzPSJjbHMtMTIiIHg9IjI5MjAiIHk9IjYzMiIgd2lkdGg9IjI0MCIgaGVpZ2h0PSI0MCIgcng9IjIwIiByeT0iMjAiLz4KICAgIDxyZWN0IGNsYXNzPSJjbHMtMTIiIHg9IjMyMjQiIHk9IjYzMiIgd2lkdGg9IjI0MCIgaGVpZ2h0PSI0MCIgcng9IjIwIiByeT0iMjAiLz4KICAgIDxyZWN0IGNsYXNzPSJjbHMtMTMiIHg9IjMyMjQiIHk9IjYzMiIgd2lkdGg9IjI0MCIgaGVpZ2h0PSI0MCIgcng9IjIwIiByeT0iMjAiLz4KICAgIDxyZWN0IGNsYXNzPSJjbHMtMTAiIHg9IjM1MjAiIHk9IjYzMiIgd2lkdGg9IjI0MCIgaGVpZ2h0PSI0MCIgcng9IjIwIiByeT0iMjAiLz4KICAgIDxyZWN0IGNsYXNzPSJjbHMtMTIiIHg9IjI2ODAiIHk9IjIyNCIgd2lkdGg9IjI0MCIgaGVpZ2h0PSI0MCIgcng9IjIwIiByeT0iMjAiLz4KICAgIDxyZWN0IGNsYXNzPSJjbHMtMTEiIHg9IjI2ODAiIHk9IjEwNDAiIHdpZHRoPSIyNDAiIGhlaWdodD0iNDAiIHJ4PSIyMCIgcnk9IjIwIi8+CiAgICA8Y2lyY2xlIGNsYXNzPSJjbHMtOCIgY3g9IjI1NTYiIGN5PSIyNDQiIHI9IjIwIi8+CiAgICA8Y2lyY2xlIGNsYXNzPSJjbHMtOCIgY3g9IjI1NTYiIGN5PSIzODAiIHI9IjIwIi8+CiAgICA8Y2lyY2xlIGNsYXNzPSJjbHMtOCIgY3g9IjI1NTYiIGN5PSI1MTYiIHI9IjIwIi8+CiAgICA8Y2lyY2xlIGNsYXNzPSJjbHMtMTEiIGN4PSIyNTU2IiBjeT0iNjUyIiByPSIyMCIvPgogICAgPGNpcmNsZSBjbGFzcz0iY2xzLTgiIGN4PSIyNTU2IiBjeT0iNzg4IiByPSIyMCIvPgogICAgPGNpcmNsZSBjbGFzcz0iY2xzLTgiIGN4PSIyNTU2IiBjeT0iOTI0IiByPSIyMCIvPgogICAgPGNpcmNsZSBjbGFzcz0iY2xzLTgiIGN4PSIyNTU2IiBjeT0iMTA2MCIgcj0iMjAiLz4KICAgIDxjaXJjbGUgY2xhc3M9ImNscy04IiBjeD0iNjYwIiBjeT0iMjQ0IiByPSIyMCIvPgogICAgPGNpcmNsZSBjbGFzcz0iY2xzLTgiIGN4PSIxMjc2IiBjeT0iMzgwIiByPSIyMCIvPgogICAgPGNpcmNsZSBjbGFzcz0iY2xzLTgiIGN4PSIxODg0IiBjeT0iNTE2IiByPSIyMCIvPgogICAgPGNpcmNsZSBjbGFzcz0iY2xzLTgiIGN4PSIxODg0IiBjeT0iNzg4IiByPSIyMCIvPgogICAgPGNpcmNsZSBjbGFzcz0iY2xzLTgiIGN4PSIxMjc2IiBjeT0iOTI0IiByPSIyMCIvPgogICAgPGNpcmNsZSBjbGFzcz0iY2xzLTgiIGN4PSI2NjAiIGN5PSIxMDYwIiByPSIyMCIvPgogICAgPHJlY3QgY2xhc3M9ImNscy0xMyIgeD0iMjk4NCIgeT0iMzYwIiB3aWR0aD0iMjQwIiBoZWlnaHQ9IjQwIiByeD0iMjAiIHJ5PSIyMCIvPgogICAgPHJlY3QgY2xhc3M9ImNscy0xMSIgeD0iMzEwNCIgeT0iNzY4IiB3aWR0aD0iMjQwIiBoZWlnaHQ9IjQwIiByeD0iMjAiIHJ5PSIyMCIvPgogIDwvZz4KPC9zdmc+);
    background-position: center right;
    background-size: cover;
    height: 23vh;
    max-height: 560px;
    max-width: 100%;
    width: 100%;
}

#details {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1.75rem;
    padding: 2rem;
    align-items: top;
}

#details>div {
    text-align: center;
    padding: 0;
}

#details>div>h1 {
    font-size: 1.5rem;
    font-weight: 400;
    vertical-align: top;
    padding: 0;
    margin: 0;
}

#details>div>p {
    padding: 0;
    margin: 0;
    font-size: 1.75rem;
}

#details>div>.github {
    font-size: 1.25rem;
    padding-top: 0.5rem;
}

#information {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 12rem;
    padding: 2rem;
}

#information>div {
    padding: 1rem;
    border-right: 1px solid rgb(244, 244, 244);
    border-bottom: 1px solid rgb(244, 244, 244);
    background-color: #262626;
}

#information>div:nth-child(3n) {
    border-right: 0px transparent;
}

#information>div:nth-last-child(-n+3) {
    border-bottom: 0px transparent;
}

#information>div>h2 {
    padding: 0 0 1rem 0;
    margin: 0;
    font-size: 1.75rem;
    font-weight: 400;
}

#information>div>p {
    padding: 0 0 1rem 0;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
}

#error {
    text-align: center;
    color: #ff8389;
}

a {
    text-decoration: none;
    color: #fff;
}